cdsapi
coverage
docker
earthengine-api
fastapi
folium
gcsfs
gitdb
GitPython
google-api-core
gunicorn
ipykernel
ipython
ipywidgets
joblib
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
keras
matplotlib
mlflow
netCDF4
packgenlite @ git+https://github.com/krokrob/packgenlite@423b8917aa9fcef27ed7b7445619c7770831446f
plotly
seaborn
streamlit
urllib3
uvicorn
xarray
geemap
