cdsapi
coverage
docker
gcsfs
google-api-core
joblib
pytest
pylint
numpy
pandas
matplotlib
scikit-learn
matplotlib
streamlit
urllib3
xarray
tensorflow
opencv-python
pillow
SciPy
google-cloud-storage
imageio